{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
<div class="panel right">
    <h1>Start a Chat</h1>
    <p>
      <form action="/public" method="post">

          {%csrf_token%}
          {{ spam_form.as_p }}
          <input type="hidden" value="{{ next_url }}" name="next_url">
          <input type="submit" value="Post It!">
          </form>
    </p>
</div>

    {% for message in messages %}
        <div class="panel left">
            <h1>Subject: &nbsp{{ message.subject }}</h1>


            <div class="textWrapper">

              <div class="card flex-row flex-wrap">
                   <div class="card-header border">
                         <img class="avatar" src='http://www.robohash.org/{{ message.user.username }}?size=65x65'>
                   </div>
                   <div class="card-block px-2">
                       <h4 class="card-title" "name"></h4>

          <p class="card-text">@{{ message.user.username }} &nbsp wrote: &nbsp{{ message.content }}</p>

                   </div>
                   <div class="w-100"></div>
                   <div class="card-footer w-100 text-muted"><br>
                      <p> sent &nbsp{{ message.timestamp|timesince }}&nbsp ago
                   </div>
               </div>
            </div>
        </div>
    {% endfor %}
    {% endblock %}
