followings{% extends "base.html" %}
{% block content %}
<div class="panel left">

<h2>Following</h2>
{% for following in followings %}
<a>
<input type="button" class="btn" value="View {{ following.username }}'s Profile" onclick="location.href ='/users/{{ user.username }}';">
</a>

   <div class="card flex-row flex-wrap">
      <div class="card-header">
        <img class="robohash" src='http://www.robohash.org/{{ following.user.username }}?size=65x65'>

         <span class="card-text">{{ user.spam_count}}  &nbsp Messages &nbsp &nbsp</span>
         <span class="card-text"> &nbsp{{ user.profile.follows.all.count }}   &nbsp Following &nbsp &nbsp</span>
         <span class="card-text">&nbsp{{ user.profile.followed_by.all.count }} &nbsp followings</span>
      </div>
   </div>


{% endfor %}

</div>
{% if followings.has_other_pages %}
  <ul class="pagination" style="font-size:50px; margin-left:500px;">
    {% if followings.has_previous %}
 <li><a href="?page={{ followings.previous_page_number }}">&laquo;&nbsp&nbsp</a></li>
{% else %}
 <li class="disabled"><span>&laquo;&nbsp&nbsp</span></li>
{% endif %}
{% for i in followings.paginator.page_range %}
 {% if followings.number == i %}
 <li class="active"><span>&nbsp&nbsp{{ i }}&nbsp&nbsp<span class="sr-only">(current)</span></span></li>
{% else %}
 <li><a href="?page={{ i }}">&nbsp&nbsp{{ i }}</a></li>
 {% endif %}
{% endfor %}
{% if followings.has_next %}
 <li><a href="?page={{ followings.next_page_number }}">&nbsp&nbsp&raquo;</a></li>
{% else %}
   <li class="disabled"><span>&nbsp&nbsp&raquo;</span></li>
{% endif %}
</ul>
{% endif %}
{% endblock %}
