{% extends "base.html" %}

{% block login %}
    <form action="/login" method="post">{% csrf_token %}
        {% for field in login_form %}
        {{ field }}
        {% endfor %}
        <input type="submit" id="btnLogIn" value="Log In">
    </form>
{% endblock %}


{% block content %}

<img src="{{ STATIC_URL}}gfx/frog.jpg">
<div class="panel right">
    <h1>First Time Here?</h1>
    <p>
        <form action="/accounts/register" method="post">{% csrf_token %}
            {% for field in reg_form %}
            {{ field }}
            {% endfor %}
            <input type="submit" value="Create Account">
        </form>
    </p>
</div>
{% endblock %}
