{% extends "base.html" %}

{% block login %}
    <form action="/login" method="post">

      {% csrf_token %}
      {{ login_form }}

        <input type="submit" id="btnLogIn" value="Log In">
    </form>
{% endblock %}


{% block content %}

<img src="http://www.robohash.org/chatango?size=75x75">
<div class="panel right">
    <h1>First Time Here?</h1>
    <p>
        <form action="/accounts/register" method="post">
            {% csrf_token %}
            {{ reg_form }}
  <input class="btn btn-danger btn-sm"  type="submit" href="">Create an Account Today!!!</a>
        </form>
    </p>
</div>
{% endblock %}
