{% extends "base.html" %}

{% block login %}
    <form action="/login" method="post">

      {% csrf_token %}
      {{ login_form.as_p }}

      <input class="btn btn-danger btn-sm"  type="submit" value="Login" href="">
            </form>
{% endblock %}


{% block content %}

<div class="panel right">
    <h1>First Time Here?</h1>
    <p>



<form action="/register" method="post">
{% csrf_token %}
{{ reg_form }}



  <input class="btn btn-danger btn-sm"  type="submit" value="Create an Account Today!!!">
        </form>
    </p>
</div>
{% endblock %}
