{% extends "base.html" %}

{% block content %}

<h4>Click to view user's profile and Add Friend option</h4>
{% for user, Spam in obj %}
<div class="panel left">
  <a>
  <input type="button" class="btn" value="View {{ user.username }}'s Profile" onclick="location.href ='/users/{{ user.username }}';">
</a>
        <div class="textWrapper">

          <div class="card flex-row flex-wrap">
               <div class="card-header border">
              <a>
                     <img class="avatar" src="http://www.robohash.org/{{ user.username }}?size=75x75">
                     <h2 class="name"></h2>
                 </a>
               </div>
               <div class="card-block px-2">
                   <h4> {{user.username}}</h4>
<p>
{{ user.spam_count}} &nbsp Messages &nbsp
&nbsp &nbsp{{ user.profile.followed_by.count }}&nbsp Followers&nbsp&nbsp&nbsp
&nbsp &nbsp{{ user.profile.follows.count }} &nbsp Following&nbsp
</p>
               </div>
               <div class="w-100"></div>
               <div class="card-footer w-100 text-muted"><br>

               </div>
           </div>
        </div>
    </div>

{% endfor %}


{% endblock %}
