{% extends "base.html" %}

{% block content %}

<h4>Click to view user's profile and Add Friend option</h4>
{% for user, Spam in obj %}
<div class="panel left">
  <a>
  <input type="button" class="btn" value="View {{ user.username }}'s Profile" onclick="location.href ='/users/{{ user.username }}';">
</a>
        <div class="textWrapper">

          <div class="card flex-row flex-wrap">
              <div class="card-header">
                   <a>
                     <h3>{{ user.username }}'s Profile</h3>
                         <img class="avatar" src="http://www.robohash.org/{{ user.username }}?size=75x75">
                 </a>
                   <span class="card-text">{{ user.spam_count}}  &nbsp Messages &nbsp &nbsp</span>
                     <span class="card-text"> &nbsp{{ user.profile.follows.all.count }}   &nbsp Following &nbsp &nbsp</span>
                     <span class="card-text">&nbsp{{ user.profile.followed_by.all.count }} &nbsp Followers</span>         </div>

 </div>
               </div>
           </div>



{% endfor %}


{% endblock %}
