{% extends "base.html" %}

{% block content %}
    <div class="panel right">
        <h1>Start a Chat</h1>
        <p>
          <form method="post">
              <input type='text'>
              {%csrf_token%}
              {{ spam_form }}
            <button type='submit' value="{{next_url}}" name="next_url">Submit</button>
          </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Current Messages</h1>
{% for message in messages %}
<div class="panel left">
        <div class="textWrapper">

          <a href="/users/{{ user.username }}">
            <img class="avatar" src='http://www.robohash.org/chatango?size=75x75'>
            <span class="name">{{ message.user.first_name }}</span>

          </a>
          <span class ="name">"@{{ message.user.username }}</span>
            <span class="time">{{ message.timestamp|timesince }}</span>
            <p>Subject: &nbsp &nbsp{{ message.subject }}</p>
            <p>Message: &nbsp &nbsp{{ message.content }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
