{% extends "base.html" %}
{% block content %}
<div class="panel right">
   <h1>Post a New Messege</h1>
   <p>
   <form action="/public" method="post">
      {% csrf_token %}
      {{ spam_form.as_p}}
      <input type="hidden" value="{{ next_url }}" name="next_url">
      <input type="submit" id="btnPostIT" value="Post It!">
   </form>
   </p>
</div>
{% for message in messages %}
<div class="textWrapper">
   <div class="card flex-row flex-wrap">
      <div class="card-header">
         <h5>Subject: &nbsp{{ message.subject }}</h5>
         <img class="avatar" src='http://www.robohash.org/{{ message.user.username }}?size=65x65'>
         <div class="card-block px-2">
            <p class="card-text">@{{ message.user.username }} &nbsp wrote: &nbsp{{ message.content }}<br><br>
               sent &nbsp{{ message.timestamp|timesince }}&nbsp ago
            </p>
         </div>
      </div>
   </div>
</div>
{% endfor %}
{% if messages.has_other_pages %}
<ul class="pagination">
  {% if messages.has_previous %}
    <li><a href="?page={{ messages.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in messages.paginator.page_range %}
    {% if messages.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if messages.has_next %}
    <li><a href="?page={{ messages.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}

{% endblock %}
