
{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}



{% block content %}
    <div class="panel left">
        <div class="textWrapper">
          <div class="card flex-row flex-wrap">
               <div class="card-header">
                 <a>
                   <h3>{{ user.username }}'s Profile</h3>
                       <img class="avatar" src="http://www.robohash.org/{{ user.username }}?size=75x75">
               </a>
                 <span class="card-text">{{ user.spam_count}}  &nbsp Messages &nbsp &nbsp</span>
                   <span class="card-text"> &nbsp{{ user.profile.follows.all.count }}   &nbsp Following &nbsp &nbsp</span>
                   <span class="card-text">&nbsp{{ user.profile.followed_by.all.count }} &nbsp Followers</span>
 {% if follow %}
                   <form action="/follow" method="post">
                       {% csrf_token %}<br>
                       <input type="hidden" name="follow" value="{{ user.username }}">
                       <input type="submit" value="Follow">
                   </form>
{% endif %}
             </div>
           </div>
        </div>
    </div>

    <div class="recentmessages">
      <h3>Recent Messages</h3>
    </div>
    {% for message in messages %}
            <div class="textWrapper">
              <div class="card flex-row flex-wrap">
                   <div class="card-header">
                     <h5>Subject: &nbsp{{ message.subject }}</h5>
                         <img class="avatar" src='http://www.robohash.org/{{ message.user.username }}?size=65x65'>
                          <div class="card-block px-2">
          <p class="card-text">@{{ message.user.username }} &nbsp wrote: &nbsp{{ message.content }}<br><br>
          posted &nbsp{{ message.timestamp|timesince }}&nbsp ago
    </p>
                   </div>
                   </div>
               </div>
            </div>


    {% endfor %}

{% endblock %}
