{% extends "base.html" %}
{% block login %}
{% with user.username as username %}
{{ block.super }}
{% endwith %}
{% endblock %}
{% block content %}
<div class="panel left">
   <div id="map" style="width: 400px; height: 300px;"></div>
</div>
<input type="button" class="btn btn-rounded" value="Update {{user.username}}'s Location" onclick="location.href = '/userloc';"><br>
{% for point in points %}
<div class="textWrapper">
   <br>
   <div class="card flex-row flex-wrap">
      <div class="card-header">
         <h5>{{ point.user.username }}</h5>
         <img class="avatar" src='http://www.robohash.org/{{ point.user.username }}?size=65x65'>
         <div class="card-block px-2">
            <p class="card-text">City:&nbsp{{point.city}}<br>
               Longitude:&nbsp{{point.longitude}}<br>
               Latitude:&nbsp{{point.latitude}}
            </p>
         </div>
      </div>
   </div>
</div>
{% endfor %}
