{% extends "base.html" %}


{% block title %}
 <title>Login Chatango</title>
 {% endblock %}
 {% block css %}
 {% load staticfiles %}
 <link href=""{% static 'login.css' %}"" rel="stylesheet" type="text/css" />
{% endblock %}


{% block login %}
<div class="login">
 <form class="form-inline my-2 my-md-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
</form>
 {% endblock %}
  {% if request.user.is_authenticated %}
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Post a Message</button>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">View Messages</button>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
{% else %}
<a href="accounts/register" class="button--style-red">Click!</a>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"href="accounts/register">Create a Account Today!!!</button>
{% endif %}
