<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



<style>
body {
  width:850px;

}

.card-text{
  max-height: 75px;
}
.card {

 background-color: yellow;
  max-height:100px;
}
.heading {
  background-color:grey;
 max-width: 250px;
 min-height: 50px;
 color: green;
}
.messages{
  background-color: red;
  width:500px;
  height:500px;

}



.login {
  margin-left: 90px;

}
.shell {
  color: grey;
   width: 900px;
height: 700px;
 margin-left:10px;
  border-color: red;
  border: 5px;

  background-color: blue;
}
.signin {
  margin-left: 500px;
  height: 500px;
  width: 350px;


  background-color: grey;
}
</style>
  <body>
  <div class= "containter">

    <div class ="shell">
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
     <h4>SpamMaster3000</h4>
  <div class="login">
      <form class="form-inline my-2 my-md-0">
       <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
       <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
  </div>
     </nav>



  <div class="container">
    <!-- Example row of columns -->
    <div class='messages'>


      <div class="col-xs-5">
        <div class='container'>
        <div class='heading'>
        <h2>Heading</h2>
        </div>
        </div>


  <div class="container">
   <section>
    <div class="card">
      <div class="col-xs-5">
          <div class="card-block">{% for message in messages %}
            <div class="card-text"> <img src="http://www.gravatar.com/avatar/">
            <h4 class="card-title"><strong>{{message.timestamp}} {{ message.subject }}</strong></h4>

            <p class="card-text">{{message.content}}</p><br>

{%endfor%}

</div>


</section>


</div>


      <div class="container">
        <div class="signin">
      <div class="col-xs-6">

        {% csrf_token %}
        {{ spam_form.as_p }}


      </div>
           </div><!-- signin-->
           </div>
  <!-- /container -->
     </div>

    <hr>

  </div>
  <!-- /container -->
      </div><!-- shell-->
  <!-- /container -->
     </div>
</body>
