{% extends "base.html" %}
<title>
Profile List
</title>

<h1>
Projects list
</h1>
<h3>{{ action }}</h3>
{% if profiles |length > 0 %}
<table>
<thead>
<tr>
<td>ID</td>
<td>Title</td>
</tr>
</thead>
<tbody>
{% for profile in profiles %}
<tr>
  <td>{{ profile.fname }} {{profile.lname}'s Profile}</td>
  <td>{{ profile.username }}</td>
  <td>{{ profile.phone }}</td>
  <td>{{ profile.title }}</td>
<td>{{ profile.email }}</td>
<td>{{ profile.follows }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<span>No profile.</span>
{% endif %}
{% endblock %}
