<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="JustAnotherTwitterClone" content="SpamMaster3000">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block title %}
 <title>SpamMaster3000</title>
 {% endblock %}
 {% block css %}
 <link href="{% static "login.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
  <div class= "containter">

    <div class ="shell">
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
     <h4>SpamMaster3000</h4>
     {% block login %}
  <div class="login">
      <form class="form-inline my-2 my-md-0">
       <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
       <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"href="/chats/profiles">Login</button>
    </form>
      {% endblock %}
       {% if request.user.is_authenticated %}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Post a Message</button>
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">View Messages</button>
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    {% else %}
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href="/accounts/register">Create a Account Today!!!</button>
    {% endif %}
  </div>
     </nav>



  <div class="container">
    <!-- Example row of columns -->
    <div class='messages'>


      <div class="col-xs-5">
        <div class='container'>
        <div class='heading'>
          {% block content1 %}

         {% endblock content1 %}


          </div>
        </div>


  <div class="container">
   <section>
    <div class="card">
      <div class="col-xs-5">
           {% block content3 %}




</div>


</section>
    {% endblock content3 %}
{</div>


      <div class="container">
        <div class="signin">
      <div class="col-xs-6">
 {% block content2 %}

{% endblock content2 %}



      </div>
           </div><!-- signin-->
           </div>
  <!-- /container -->
     </div>

    <hr>

  </div>
  <!-- /container -->
      </div><!-- shell-->
  <!-- /container -->
     </div>
</body>
