
{% extends "base.html" %}

{% block login %}
    <form action="/" method="post">

      {% csrf_token %}
      {{ login_form }}

        <input type="submit" id="btnLogIn" value="Log In">
    </form>
{% endblock %}


{% block content %}


<div class="panel right">
    <h1>First Time Here?</h1>
    {% for field in reg_form %}{
      % csrf_token %}
      {{ field }}
    {% endfor %}



<input class="btn btn-danger btn-sm"  type="submit" href="">Create an Account Today!!!</a>
        </form>
    </p>
</div>
{% endblock %}
