{% extends "base.html" %}
<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="JustAnotherTwitterClone" content="SpamMaster3000">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block title %}
 <title>Registration</title>
 {% endblock %}
 {% block css %}
 <link href="{% static "register.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
  <div class= "containter">

    <div class ="shell">
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
     <h4>SpamMaster3000</h4>




       {% block content3 %}
           <img src="/home/minty/Pictures/spamcans.png">
           <div class="panel right">
               <h5>First Time Here??</h5>
               <p>
                   <form action="/chats/latestspam" method="post">{% csrf_token %}
                           {{form.as_p}}
                    <input type="submit" value="Create Account">
                   </form>
               </p>
           </div>

{% endblock content3 %}
