{% extends "base.html" %}
{% block title %}
 <title>Registration</title>
 {% endblock %}
 {% block css %}
 {% load staticfiles %}
 <link href="{% static "registration.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}
  <div class= "containter">

    <div class ="shell">
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
     <h4>SpamMaster3000</h4><br>
     <h5>Already Registered? Login here</h5>
     {% block login %}
  <div class="login">
      <form class="form-inline my-2 my-md-0">
       <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
       <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="action"href="/chats/profiles">Login</button>
    </form>
      {% endblock %}
       {% if request.user.is_authenticated %}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Post a Message</button>
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">View Messages</button>
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    {% else %}
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href="/accounts/register">Create a Account Today!!!</button>
    {% endif %}
  </div>
     </nav>



  <div class="container">
    <!-- Example row of columns -->
    <div class='messages'>


      <div class="col-xs-5">
        <div class='container'>
        <div class='heading'>
          {% block content1 %}

         {% endblock content1 %}


          </div>
        </div>


  <div class="container">
   <section>
    <div class="card">
      <div class="col-xs-5">
           {% block content3 %}




</div>


</section>
    {% endblock content3 %}
{</div>


      <div class="container">
        <div class="signin">
      <div class="col-xs-6">
 {% block content2 %}

{% endblock content2 %}



      </div>
           </div><!-- signin-->
           </div>
  <!-- /container -->
     </div>

    <hr>

  </div>
  <!-- /container -->
      </div><!-- shell-->
  <!-- /container -->
     </div>
</body>
