body {

}
.login {
  margin-left: 90px;

}
.shell {
  color: grey;
   width: 820px;
height: 750px;
 margin-left:10px;
  border-color: red;
  border: 5px;
  padding-top:20px;
  background-color: blue;
}
.signin {
  margin-left: 400px;
  height: 500px;
  width: 350px;

  background-color: #FFFFFF;
}
