/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {

}
.login {
  margin-left: 90px;

}
.messages{
 width: 500px;
  background-color: yellow;
  margin-left: 25px;
  margin-top:80px;

}
.shell {
  color: grey;
   width: 900px;
height: 750px;
 margin-left:10px;
  border-color: red;
  border: 5px;
  padding-top:20px;
  background-color: blue;
}
.signin {
  margin-left: 500px;

  height: 500px;
  width: 350px;

  background-color: #FFFFFF;
}
